.frontend-page {
  width: calc(100% - 250px);
  margin-left: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  transition: padding 0.3s ease, background-color 0.3s ease;
  
  .arena-logo {
    position: fixed;
    transition: none;
    z-index: 1001;
    
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .page-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
  }

  .page-desc {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    color: #374151;
    transition: opacity 0.3s ease;
  }

  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    transition: opacity 0.3s ease;

    .project-card {
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 10px;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;

      &:hover {
        transform: scale(1.05);
      }

      &.selected-card {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
        border: 2px solid transparent;
        font-family: "Urbanist", serif;
        font-optical-sizing: auto;
        background-image: linear-gradient(45deg, #41C9C3, #3A66D8, #3D0B37);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        padding: 1px;
      }

      .card-content {
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
      }
    }
  }
}