@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  color: #061826;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  color: #061826;
  /* Remove display: flex and place-items as they're causing layout issues */
}
/* button:hover {
  border-color: #646cff;
} */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
